<nav class="p-4 text-center fs-5 bg-primary-subtle d-inline-flex justify-content-center gap-4 w-100"> 
    <a class="text-decoration-none" href="/home">Home</a>
    <a class="ms-2 text-decoration-none" href="/create">Create</a>
    <a class="ms-2 text-decoration-none" href="/library">Library</a>
    <a class="ms-2 text-decoration-none" href="/about">About</a>
</nav>