<%- include("./partials/header")%>
<div class="container-fluid">
    <h2 class="text-center text-uppercase p-2">About Book Library</h2>
    <p class="text-wrap pt-4 fs-4 mx-auto text-dark fs-5" style="max-width: 750px;">
        Comprehensive: Offers a wide selection of books covering various genres and topics.
        Convenient: Enables users to access their book collection anytime, anywhere.
        Organized: Helps users keep track of their books with intuitive sorting and filtering options.
        Engaging: Provides a visually appealing interface with book covers and rich metadata.
        Personalized: Allows users to customize their reading experience by adding notes, bookmarks, and reviews.
        Efficient: Optimized for performance and seamless navigation, even with large book collections.
        Connected: Facilitates social interactions through features like sharing book recommendations and reviews.
        Secure: Ensures the safety of user data with robust security measures and privacy settings.
        Inspiring: Encourages a love for reading by showcasing new releases, bestsellers, and personalized recommendations.
        Community: Fosters a sense of belonging by connecting users with fellow book enthusiasts and authors.
    </p>
</div>
<a class="position-absolute top-0 end-0 p-2" href="/">Back to Homepage</a>
<%- include("./partials/footer")%>