<%- include("./partials/header")%>
<h2 class="text-center p-2">THIS IS ABOUT PAGE</h2>
<p class=" text-wrap  m-auto text-dark fs-5" style="width: 750px;">Comprehensive: Offers a wide selection of books covering various genres and topics.
    Convenient: Enables users to access their book collection anytime, anywhere.
    Organized: Helps users keep track of their books with intuitive sorting and filtering options.
    Engaging: Provides a visually appealing interface with book covers and rich metadata.
    Personalized: Allows users to customize their reading experience by adding notes, bookmarks, and reviews.
    Efficient: Optimized for performance and seamless navigation, even with large book collections.
    Connected: Facilitates social interactions through features like sharing book recommendations and reviews.
    Secure: Ensures the safety of user data with robust security measures and privacy settings.
    Inspiring: Encourages a love for reading by showcasing new releases, bestsellers, and personalized recommendations.
    Community: Fosters a sense of belonging by connecting users with fellow book enthusiasts and authors.</p>
<a class="position-absolute top-0 end-0 p-2" href="/">Back to Homepage</a>
<%- include("./partials/footer")%>