<%- include("./partials/header")%>
<a class="position-absolute top-0 end-0 p-2" href="/">Back to Homepage</a>
<h1 class="text-center pt-2 fs-2">HOMEPAGE</h1>
<P class="text-center pt-5 text-capitalize text-blue">PLEASE VISIT CREATE PAGE TO  ADD BOOKS IN THE LIBRARY AND <br> VISIT LIBRARY PAGE TO READ DELETE AND  UPDATE BOOKS <br> FROM THE SERVER AND DATABASE ASWELL</P>
<%- include("./partials/footer")%>